body {
background-image:url(../images/giphy.gif);
 background-attachment:fixed;
 background-repeat:no-repeat;
 background-size:cover;
}
#reader>li,h3 {
	display:inline;
	margin-right:10px;
	
}
#navt {
  text-decoration:none;
  font-size:25px;
  color:#7B241C;
  width:28px;
  height:30px;
}
header {
	margin-left:270px;
	margin-top:50px;
	margin-right:270px;
	width:auto;
	height:auto;
}
nav {
  opacity:0.8;
	position:absolute;
	top:10px;
	bottom:10px;
	left:0px;
	height:35px;
	width:100%;
	background-color:#F7B7A9;
}
.mainhead {
	width:780px;
	height:225px;
	margin-top:60px;
    opacity:0.8;
	background-color:#F5EEF8;
}
#reader {
	float:right;
	margin-top:0px;
    margin-right:50px;
    margin-left:30px;
    
}
#content {
	margin-top:70px;
	width:auto;
	height:240px;
	opacity:0.8;
	
}
#left {
	float:left;
	margin-left:30px;
	margin-bottom:20px;
	margin-top:5px;
	margin-right:40px;
	width:100px;
	background-color:#3D3B3B;
	height:150px;
	padding:30px;
}
#right{
	margin-left:90px;
	margin-top:20px;
	
}
#right img {
	width:500px;
	height:200px;
	margin-top:9px;
}
#left >h3,h5{
	color:#F3EFEE;
}
aside {
	opacity:0.8;
	width:200px;
	height:auto;
	background-color:#E5E7E9;
	right:10px;
	top:350px;
	position:absolute;
}
#ep1link {
	text-decoration:none;
	text-size:20px;
}
aside > p{
	margin-top:20px;
	margin-left:10px;
	font-style:italic;
	color:#900C3F;
	font-size:20px;
	font-family:""Times New Roman", Times, serif";
}
#ep1img1 img {
	width:300px;
	height:300px;
	float:left;
	margin-left:20px;
	margin-bottom:40px;
	margin-right:30px;
}
#ep1cont p {
	position:absolute;
	top:410px;
	width:400px;
	height:300px;
	left:490px;;
}
#ep1cont h3 {
	margin-top:90px;
	margin-left:56px;
}
#ep1link {
	margin-top: 50px;
	margin-left:60px;
	
}
#ep1 {
   width:900px;
   height:380px;
    opacity:0.8;
	background-color:#BEF3BE;
	margin-top:100px;
	margin-left:90px;
}
#ep1cont{
	margin-top:50px;
}
#ep1cont >p {
	color:#2C3E50;
	margin-top:70px;
    width:450px;
    height:250px;
}
#he1 {
	position:absolute;
	top:340px;
	color:#F113F5;
	margin-top:90px;
}
#qot {
	position:absolute;
	top:280px;
	left:400px;
	font-size:40px;
	
}
#ep2 {
opacity:0.9;
  margin-left:89px;
  background-color:#CDF9F8;
  width:900px;
  height:380px;
  margin-top:50px;
  
}

#ep2img img {
   width:300px;
	height:300px;
	float:left;
	margin-top:30px;
	margin-left:20px;
	margin-bottom:40px;
	margin-right:30px;
}
#ep2cont h3 {
  margin-top:20px;
  
}

#ep2cont >p{
   margin-top:20px;
}
#eplink2 {
  text-decoration:none;
  color:#2C3E50;
}	
#word2 {
  width:450px;
  height:250px;
  overflow:hidden;
}
#ep3img img{
    width:300px;
	height:300px;
	float:left;
	margin-top:30px;
	margin-left:20px;
	margin-bottom:40px;
	margin-right:30px;
}
#ep3 {
  opacity:0.9;
  margin-left:89px;
  background-color:#7DCEA0;
  width:900px;
  height:380px;
  margin-top:50px;
}
#ep3 img {
   width:300px;
   height:300px;
   float:left;
	margin-top:40px;
	margin-left:20px;
	margin-bottom:40px;
	margin-right:30px;
}
#eplink3 h3{
  margin-top:10px;
  margin-left:20px;
}
#eplink3 p{
margin-top:30px;

width:450px;
  height:250px;
  overflow:hidden;
}
#eplink3 {
  text-decoration:none;
  color:#7B241C;
}
#ftt img{
   width:50px;
   height:50px;
   
   margin-left:50px;
}